/* Import font*/
@font-face{
  font-family: tulisan-nordic;
  src: url('../src/assets/Norse-Bold.otf');
}
@font-face{
  font-family: tulisan;
  src: url('../src/assets/MavenPro-Regular.ttf');
}

*{
  font-family: tulisan;
}
hr.garis{
  border-bottom: 1px solid #B3B3B3;
  margin-top: 5%;
  width: 80%;

}

/* Styling Header */
.unlinks{
  text-decoration: none;
  color: whitesmoke;
}
.unlinks:hover{
  text-decoration: none;
  color: black;
  border-left: 5px #3896D3 solid;
  background-color: white;
  filter: opacity(60%);
}

/* Background Home Page One */
.bg-home{
  background-image: url('./image/lombok.jpg');
  background-size: cover;
  height: 100vh;
}
.nordic-font{
  font-family: tulisan-nordic;
  font-size: 13vw;
  letter-spacing: 30px;
  color: white;
  margin-top: 15%;
}
.nordic-font::after{
  content: '';
  border-right: #3896D3 10px solid;
  filter: drop-shadow(8px 8px 10px black);


}
.typewriter{
  color: white;
  margin-top: -3%;
  font-size: 30px;
  letter-spacing: 10px;
  text-shadow: 1px 1px whitesmoke;
  margin-bottom: 5%;
  /* filter: drop-shadow(8px 8px 10px #3896D3); */
}
.text-under-dlehisme{
  position: absolute;
  top: 400px;
  color: white;
}
.font-small{
  font-size: 15px;
}
/* About Home */
.img-costumer-filter{
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}

/* Portofolio */
.bg-portofolio{
  background-color: #3896D3;
  background-size: cover;
}
.image-portofolio{
  display: block;
  width: 100%;
  height: auto;
}
.team-thumb {
  position: relative;
  overflow: hidden;
  cursor: pointer;
  text-align: center;
}

.team-thumb img{
  width:100%;
}

.team-info {
  background: #ffffff;
  padding: 10px 30px 20px 30px;
  text-align: center;
  margin-bottom: 50px;
}

.team-info h3{
  color: black;
}

.team-thumb .team-hover {
  position: absolute;
  background: #2A94D2;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
  opacity: 0;
  transform: translateY(100%);
  transition: 0.5s 0.2s;
}

.team-thumb:hover .team-hover {
  opacity: 0.95;
  transition-delay: 0.3s;
  transform: translateY(0);
}

.team-thumb img {
  transition: 0.5s 0.2s;
}

.team-thumb:hover img {
  transform: scale(1.2);
}

.team-thumb .social-icon li a {
  background: #292929;
  border-radius: 100%;
  color: #d9d9d9;
  margin: 15px 5px 0 5px;
}

.team-thumb .team-item {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%,-50%);
  -moz-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
}

.team-item {
  color: #ffffff;
}

.team-info p {
  color: #bfbdbd;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-top: 5px;
}

/* FOOTER */
.background-footer{
  background-color: black;
}



