/* Import font*/
@font-face{
  font-family: tulisan-nordic;
  src: url('../src/assets/Norse-Bold.otf');
}
@font-face{
  font-family: tulisan;
  src: url('../src/assets/MavenPro-Regular.ttf');
}

*{
  font-family: tulisan;
}
hr.garis{
  border-bottom: 1px solid #B3B3B3;
  margin-top: 5%;
  width: 95%;
}

/* Styling Header */
.unlinks{
  text-decoration: none;
  color: black;
}
.unlinks:hover{
  text-decoration: none;
  color: black;
  border-left: 5px #3896D3 solid;
  background-color: white;
  filter: opacity(60%);
}
.bg-header{
  background: #B3B3B3;
  filter: opacity(50%);
}

/* Background Home Page One */
.bg-home{
  background-image: url('./image/lombok.jpg');
  background-size: cover;
  height: 100vh;
}
.nordic-font{
  font-family: tulisan-nordic;
  font-size: 13vw;
  letter-spacing: 30px;
  color: white;
  margin-top: 15%;
}
.nordic-font::after{
  content: '';
  border-right: #3896D3 10px solid;
  filter: drop-shadow(8px 8px 10px black);


}
.typewriter{
  color: white;
  margin-top: -3%;
  font-size: 30px;
  letter-spacing: 10px;
  text-shadow: 1px 1px whitesmoke;
  margin-bottom: 5%;
  /* filter: drop-shadow(8px 8px 10px #3896D3); */
}
.text-under-dlehisme{
  position: absolute;
  top: 400px;
  color: white;
}
.font-small{
  font-size: 15px;
}
/* About Home */
.img-costumer-filter{
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}

/* Portofolio */
.container-portofolio {
  position: relative;
  width: 100%;
}
.image-portofolio{
  display: block;
  width: 100%;
  height: 100%;
}
.overlay{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 14px;
  right: -10px;
  height: 100%;
  width: 92%;
  opacity: 0;
  transition: .5s ease;
  background-color: black;
}
.container-portofolio:hover .overlay{
  opacity: 0.7;
}
.text-portofolio {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}


/* TESTIMONI */
.gambar-tengah{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100px;
  height: 100px;
  border-radius: 100%;
}
hr.garis-testi{
  border-bottom: 1px solid #B3B3B3;
  margin-top: -20%;
  width: 95%;
}


/* FOOTER */
.background-footer{
  background-color: black;
  background-size: cover;
}

/* ==================================================================================================================================================================== */
/* ABOUT PAGE */
.bg-aboutPage{
  background: url('./image/elwin.jpeg');
  filter: grayscale(100%)  ;
  background-size: cover;
  height: 100vh;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center center;
}
.lines{
  border-left: 1px black solid;
}
.contents{
  position: relative;
  left: -50px;
}
.circle{
  border-radius: 100%;
  width: 70px;
  height: 70px;
  box-shadow: 3px 4px grey;
  text-decoration: none;
  display: inline-block;
}
.bg-testimoni{
  background: grey;
  width: 100%;
  background-size: cover;
}
.img-testimoni{
  width: 200px;
  height: 200px;
  border-radius: 100%;
  border: #3896D3 5px solid;
}
/* PORTOFOLIO PAGE */
.bg-portofolio{
  background: url('./image/bg-portofolio.jpg');
  background-size: cover;
  height: 50vh;
}
.text-on-bg{
  padding-top: 15%;
  margin-bottom: -3%;
  color: white;
  font-weight: 1000;
  font-size: 50px;
  text-shadow: black 2px 2px;

}
.text-project{
  font-size: 100px;
  font-weight: 900;
  color: black;
  text-shadow: white 5px 5px;
}

/* DETAIL PORTOFOLIO */
.bg-detail-porto{
  background: url('./image/detail-porto.jpg');
  background-size: cover;
  height: 55vh;
}
.text-project-detail{
  padding-top: 20%;
  font-size: 100px;
  font-weight: 900;
  color: white;
  text-shadow: grey 2px 2px;
}

/* BLOG */
.bg-blog{
  background: url('./image/blog.jpg');
  background-size: cover;
  height: 90vh;
  margin-top: -20%;
}
.text-blog{
  padding-top: 40%;
  font-size: 100px;
  font-weight: 900;
  color: white;
  text-shadow: black 2px 2px;
}
.text-blog-h5{
  letter-spacing: 5px;
  margin-top: -20px;
  font-weight: 200;
  font-style: italic;
}